# Порт 80 — твое основное API / Backend
:80 {
    handle /api/* {
        reverse_proxy server-api:8000
    }
    handle {
        respond "API Server is running." 200
    }
}

# Порт 8188 — Прокси на ComfyUI
:8188 {
    reverse_proxy comfyui:8188
}

# Порт 5678 — Прокси на n8n
:5678 {
    reverse_proxy n8n:5678
}
