# ==========================================
# .env.example (Скопировать в .env перед запуском)
# ==========================================

# --- Сеть ---
PC1_LAN_IP=192.168.0.10  # Нужно Прометею на ПК2, чтобы знать, откуда парсить метрики

# --- Мониторинг ---
GRAFANA_PASSWORD=super_secure_admin_password