# ==========================================
# .env.example (Скопировать в .env перед запуском)
# ==========================================

# --- Сеть ---
# Нужно Прометею на ПК2, чтобы знать, откуда парсить метрики
PC1_LAN_IP=192.168.0.10

# --- Мониторинг ---
GRAFANA_PASSWORD=CHANGE_ME # Укажите сильный пароль